<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center"> Data Analysis web index page</div>
    <hr/>
    <div align="right">
        <a href="../blog/index"> 블로그 <a> &nbsp;&nbsp;&nbsp;
        <a href="../bbs/index"> 게시판 <a> &nbsp;&nbsp;
        <a href="../user/index"> 로그인 <a>
    </div>
</body>
</html>