<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    login html
    <div align = 'center'> django web application </div>
    <hr/>
    <a href = "http://naver.com"> move to naver</a><p/>
    <form action ="test" method="get">
        <input type = "text" name = "msg" id = "msg">
        <input type = "submit" value = "BTN">
    </form>
</body>
</html>